name: SETUP UV

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: "0.4.10"
          enable-cache: true

      - name: Run script
        working-directory: src
        run: |
          uv sync
          . .venv/bin/activate
          uv run main.py
          
        
